<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="../static/stylee.css">">
</head>
<body>
    <form method="post">
    <label>nome:</label>
    <input type="text" name="nome"/>
    <br><br>
    <label>email:</label>
    <input type="email" name="email"/>
    <br><br>
    <label>produto:</label>
    <input type="text" name="produto"/>
    <br><br>
    <label>quantidade:</label>
    <input type="number" name="quantidade"/>

       <button type="submit">salvar</button>
        </form>

        <h2>Registros</h2>
        <table border="1" cellpadding="5">
        {% for linha in registros %}
            <tr>
                {% for coluna in linha %}
                <td>{{ coluna }}</td> 
                {% endfor %}
           </tr>
        {% endfor %}
        </table>
    </body>
</html>